<% provide(:title, "Home") %>
<h1>CryptoTrader</h1>
<p>
  This is the CryptoTrader App developed in Ruby on Rails.
</p>
<p>
  Time:
  <%= @responseValue["time"]["updatedISO"] %>
</p>
<p>
  Price in USD:
  <%= @responseValue["bpi"]["USD"]["rate"] %>
</p>
<% if !logged_in? %>
<div class="center jumbotron">
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<% end %>

<% if logged_in? %>
<div class="panel-group">
  <div class="panel panel-success">
    <div class="panel-heading">Trader</div>
    <div class="panel-body">
      Currently, you have
      <ul>
        <li><%= current_user.portfolio.find_by_currency("USD").amount if current_user && current_user.portfolio.find_by_currency("USD") %> USD</li>
        <li><%= current_user.portfolio.find_by_currency("BTC").amount if current_user && current_user.portfolio.find_by_currency("BTC") %> BTC</li>
      </ul>

      <%= form_for(Order.create, url: order_path) do |f| %>
      <%= f.label :from_symbol %>
      <%= f.select :from_symbol, options_for_select([["US Dollar (USD)", "USD"], ["Bitcoin (BTC)", "BTC"]], "USD"), {}, {class: 'form-control'} %>

      <%= f.label :to_symbol %>
      <%= f.select :to_symbol, options_for_select([["US Dollar (USD)", "USD"], ["Bitcoin (BTC)", "BTC"]], "BTC"), {}, {class: 'form-control'} %>
      
      <%= f.label :amount %>
      <%= f.text_field :amount, class: 'form-control' %>

      <%= f.submit "Submit an order", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
<% end %>